@media (max-width: 560px) {
  .packages .main_page .md-right {
    padding: 50px 30px !important;
  }
  .item_details .item_sub {
    margin-right: 10px !important;
  }
}
@media (min-width: 1296px) {
  .package_description {
    font-size: 12px !important;
  }
}
@media (max-width: 991.98px) {
  .main_page {
    display: block !important;
  }
  .package_side_bg img {
    content: url("../images/mobile_profile_left_bg.png") !important;
  }
  .mobile_content {
    padding: 10px 30px !important;
    width: 100%;
  }
  .item_details {
    display: flex;
    justify-content: space-between !important;
  }
  .package_status {
    padding: 5px 10px !important;
  }
  .package_content h2 {
    text-align: center !important;
    margin: 20px auto !important;
  }
  .search_container input {
    width: 100% !important;
  }
  .search_container {
    display: block !important;
  }
  .package_description {
    display: none;
  }
  .main_page .md-left {
    width: 100%;
    padding: 60px 0 0 !important;
    min-width: 100% !important;
  }
  .page_container {
    min-width: 100% !important;
  }
  .main_page .md-right {
    padding: 50px 100px !important;
    width: 100%;
    height: min-content !important;
    background-color: #fff1f1;
  }
  .desktop_price {
    display: none !important;
  }
  .mobile_price {
    display: flex !important;
  }
  .mobile_package_btn {
    display: block !important;
  }
  .desktop_package_btn {
    display: none !important;
  }
  .item_content {
    background-color: white !important;
  }
  .package_status {
    background-color: #fff1f1 !important;
  }
}
.package_content h2 {
  text-align: left;
  margin-bottom: 20px;
}
.package_side_bg img {
  width: 100%;
  height: auto;
}
.package_side_bg {
  width: 100%;
}
.packages .main_page .bg_content {
  min-height: fit-content !important;
  height: fit-content;
}
.packages .main_page .md-right {
  padding: 50px 100px;
  min-height: fit-content !important;
}
.packages .btn_global {
  padding: 5px 30px !important;
}
.profile_description {
  font-size: 14px !important;
  color: grey;
  margin-left: 10px;
  margin-bottom: 20px;
}
.search_container input:active,
.search_container input:focus,
.search_container input {
  width: 48%;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 10px !important;
  border-radius: 5px;
  border: 1px solid grey;
}
.search_container {
  display: flex;
  justify-content: space-between;
}
.package_description p {
  margin: 0;
}
.package_description {
  background: #fff1f1;
  font-size: 10px;
  text-align: center;
  margin: 10px 0;
  padding: 10px 5px;
}
.packages .main_page .bg_content {
  width: -webkit-fill-available !important;
  height: fit-content !important;
}
.packages .bg {
  padding: 50px;
}
.titled_item .titled_content {
  position: absolute;
  top: 30px;
  left: 0;
  border-top-left-radius: 18px;
  width: 100%;
}
.item_content {
  background-color: #fff1f1;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: -webkit-fill-available;
}
.mobile_content {
  padding: 10px;
  width: -webkit-fill-available;
}
.titled_item .title {
  position: absolute;
  top: 0;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background-color: black;
  color: white;
  font-weight: 300;
  font-size: 14px;
  left: 0px;
  padding: 5px 20px 20px 20px;
  width: fit-content !important;
}
.price_pack {
  background-color: red;
  display: flex;
}
.item_details {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  width: -webkit-fill-available;
}
.desktop_price {
  padding: 20px;
  font-size: 30px;
  font-weight: 900;
  display: flex;
  color: white;
}
.mobile_price {
  padding: 10px;
  display: none;
  color: white;
  font-size: 20px;
  font-weight: 900;
}
.packages .btn_global.mobile_package_btn {
  display: none;
  font-size: 14px;
  padding: 5px 15px !important;
  margin: 0;
}
.desktop_package_btn {
  display: block;
  font-size: 20px;
  margin-right: 20px !important;
  height: fit-content;
  margin: auto;
}
.value {
  font-size: 18px;
  font-weight: 900;
}
.package_status {
  padding: 2px 5px;
  border-radius: 10px;
  font-size: 14px;
  background-color: white;
}
.titled_item.package_item {
  min-height: 140px !important;
}
.package_item {
  width: 100%;
  position: relative;
  min-height: 100px;
  height: auto;
  margin-bottom: 20px;
}
.item_details p {
  font-size: 12px;
  margin-bottom: 0;
}
.price_pack p {
  margin: auto;
}
img.item_sub {
  margin: auto 20px auto 0;
}
.item_sub {
  margin-right: 20px !important;
}
.titled_content .desktop_price {
  border-top-left-radius: 18px;
}
.package_container {
  margin-top: 20px;
}
.pack_container_title {
  font-size: 25px;
  font-weight: 500;
}
.main_page {
  display: flex;
}
