@media (max-width: 991.98px) {
  .otp_download_str {
    margin: 20px auto 10px !important;
  }

  .otp_side_bg img {
    content: url("../images/phone_img.png") !important;
  }
  .verify_content h2 {
    text-align: center !important;
    margin: auto !important;
  }
}
.otp_download_str {
  text-align: left;
  color: white;
  font-size: 24px;
  font-weight: 900;
  padding: 20px;
  font-family: sans-serif;
  margin: 40px auto 10px;
  width: fit-content;
}
.otp_download_str a {
  color: black !important;
  text-decoration: none;
}
.otp_download_description {
  color: white;
  font-size: 18px;
  text-align: left;
  padding: 0 30px;
}
.contents.otp {
  padding: 10px 0 0;
}
.otp_side_bg {
  z-index: 1;
  margin-top: 30px;
}
.otp_description {
  font-size: 18px;
}
.otp_description a {
  color: red !important;
  text-decoration: none;
}
.verify_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 350px;
}
.code_container input {
  padding: 10px;
  color: black;
  background: white;
  border: none;
}
.btn_continer .btn_global {
  padding: 10px 30px;
}
.btn_continer p {
  margin: auto !important;
}
.btn_continer,
.code_container {
  display: flex;
  justify-content: space-around;
}
.otp_page .bg_lightpink.md-right {
  padding: 50px 100px !important;
}
