@media (max-width: 360px) {
  .otp_page .md-right .verify_content {
    width: 90% !important;
  }
  .otp_side_bg img {
    width: 90% !important;
    height: auto;
  }
}
@media (max-width: 560px) {
  .otp_page .bg_lightpink.md-right {
    padding: 50px 30px !important;
  }
  .otp_page .verify_content {
    width: 300px !important;
  }
}
@media (max-width: 991.98px) {
  .verify_content {
    margin: auto !important;
    width: 400px !important;
  }
  .otp_download_str {
    margin: 20px auto 10px !important;
  }

  .otp_side_bg img {
    content: url("../images/phone_img.png") !important;
  }
  .verify_content h2 {
    text-align: center !important;
    margin: 30px auto !important;
  }
  .otp_page .md-right {
    padding: 50px 100px !important;
  }
}
.verify_content {
  width: 400px;
}
.otp_download_str {
  text-align: left;
  color: white;
  font-size: 24px;
  font-weight: 900;
  padding: 20px;
  font-family: sans-serif;
  margin: 40px auto 10px;
  width: fit-content;
}
.otp_download_str a {
  color: black !important;
  text-decoration: none;
}
.otp_download_description {
  color: white;
  font-size: 18px;
  text-align: left;
  padding: 0 30px;
}
.contents.otp {
  padding: 0;
}
.otp_side_bg {
  z-index: 1;
  margin-top: 30px;
  width: 100%;
}
.otp_description {
  font-size: 18px;
}
.otp_description a {
  color: red !important;
  text-decoration: none;
}
.verify_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
}
.code_container input:last-child {
  margin-right: 0 !important;
}
.code_container input {
  padding: 10px;
  color: black;
  background: white;
  border: none;
  margin-right: 10px;
  text-align: center;
}
.code_container input {
  width: 20% !important;
}
.btn_container .btn_global {
  padding: 10px 30px;
}
.btn_container p {
  margin: auto !important;
}
.btn_container,
.code_container {
  display: flex;
  justify-content: space-around;
}
.otp_page .md-right {
  padding: 50px 100px !important;
}
