@media (max-width: 360px) {
  .profile_setup .bg_content {
    width: 90% !important;
  }
}
@media (max-width: 560px) {
  .profile_setup .main_page .bg_lightpink.md-right {
    padding: 100px 30px !important;
  }
}
@media (max-width: 991.98px) {
  .profile_setup .bg_lightpink.md-right {
    padding: 100px 60px !important;
  }
  .info_line {
    display: block !important;
  }
  .profile_side_bg img {
    content: url("../images/mobile_profile_left_bg.png") !important;
  }
  .profile_setup .bg_content {
    width: 400px;
  }
  .info_line div {
    margin: 0 !important;
  }
  .profile_content h2 {
    text-align: center;
  }
}
.profile_side_bg img {
  width: 100%;
  height: auto;
}
.profile_side_bg {
  width: -webkit-fill-available;
}
.bg_content {
  width: 500px;
}
.profile_setup .profile_content input {
  margin-bottom: 10px;
  font-size: 15px;
  padding: 10px !important;
  border-radius: 5px;
  border: 1px solid grey;
  width: -webkit-fill-available;
}
.profile_setup .bg_content {
  min-height: fit-content !important;
  height: fit-content;
}
.profile_setup .bg_lightpink.md-right {
  padding: 50px 100px;
  min-height: fit-content !important;
}
.profile_content .btn_global {
  padding: 10px 30px !important;
}
.profile_content {
  width: 100%;
}

.profile_description {
  font-size: 14px !important;
  color: grey;
  margin-left: 10px;
  margin-bottom: 20px;
}
.info_line div {
  margin: 0 10px;
  display: block;
  min-width: 48%;
  width: -moz-available;
}
.info_line label {
  font-weight: 500;
}
.info_line {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.info_container {
  text-align: center;
}
.btn_container {
  margin-top: 15px;
}
