@media (max-width: 560px) {
  .reminder .bg.md-right {
    padding: 100px 50px !important;
  }
}
@media (max-width: 991.98px) {
  .reminder_download_str {
    margin: 20px auto 10px !important;
  }

  .reminder_side_bg img {
    content: url("../images/phone_img.png") !important;
  }
  .reminder .bg {
    padding: 150px 100px !important;
  }
  .reminder_download_str {
    margin: 50px auto 10px !important;
  }

  .reminder_content {
    width: auto !important;
  }
}
.reminder_download_str {
  text-align: left;
  color: white;
  font-size: 24px;
  font-weight: 900;
  padding: 20px;
  font-family: sans-serif;
  margin: 80px auto 10px;
  width: fit-content;
}
.reminder_download_str a {
  color: black !important;
  text-decoration: none;
}
.reminder_download_description {
  color: white;
  font-size: 18px;
  text-align: left;
  padding: 0 30px;
}
.reminder_side_bg {
  z-index: 1;
  margin-top: 30px;
}
.reminder_description {
  font-size: 18px;
}
.reminder_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: -webkit-fill-available;
  height: fit-content;
  margin: auto;
  width: 500px;
}
.code_container input {
  padding: 10px;
  color: black;
  background: white;
  border: none;
}
.btn_global {
  padding: 10px 30px !important;
  width: fit-content;
  margin-top: 30px;
  margin-left: 0 !important;
}
.code_container {
  display: flex;
  justify-content: space-around;
}
.reminder_page .bg_lightpink.md-right {
  padding: 50px 100px !important;
}
.img_alert {
  width: fit-content !important;
  margin-bottom: 30px;
}
.reminder_alert {
  font-size: 18px !important;
  font-weight: bold;
}
.header {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
}
