body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", sans-serif;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}

@media (max-width: 991.98px) {
  .bg.md-right {
    min-height: 500px;
    width: 100% !important;
    padding: 100px 10px 200px;
  }
  .logo_container {
    width: 100% !important;
    text-align: center;
  }
  .bg_content {
    margin: auto;
    width: 100%;
  }
  .md-right,
  .md-left {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
  .bottom_bar {
    margin-top: 10px !important;
    display: block !important;
    text-align: center;
    height: fit-content;
  }
  .bottom_bar .md-right {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center !important;
  }
  .container {
    padding-top: 0 !important;
  }
  .btn_global {
    margin-left: 0 !important;
    margin-top: 15px;
    padding: 10px 20px !important;
  }
  .phone_no_container {
    display: block !important;
    text-align: left;
  }
  .bg_imgs .vector {
    display: none;
  }
  .bg_imgs .man_antena {
    height: 60%;
  }
  .buildings_bg {
    width: 100% !important;
  }
  .wifi_bg {
    width: 30%;
    height: auto !important;
  }
  .buildings_bg,
  .wifi_bg {
    left: 50% !important;
    transform: translate(-50%, 30%);
  }
}

.contents {
  min-width: 30%;
  max-width: 40%;
  padding: 10px 0 50px;
  width: -webkit-fill-available;
}
.page_wrapper {
  min-height: 100vh;
  padding: auto;
}
.bg {
  max-width: 65%;
  width: -webkit-fill-available;
  padding: 100px 100px 50px;
}
.bg_red {
  background-color: red;
}
.bg_lightpink {
  position: relative;
  background-color: #fff1f1;
  z-index: -2;
}
.bg_imgs {
  max-width: 100%;
  overflow: hidden;
}
.bg_imgs img {
  z-index: -1;
  position: absolute;
}
.vector {
  left: 0;
  bottom: 0;
}
.buildings_bg {
  top: 50px;
  left: 0;
  width: -webkit-fill-available;
}
.wifi_bg {
  top: 20px;
  right: 60px;
  height: 60%;
}
.man_antena {
  bottom: 0;
  right: 0;
  height: 80%;
}
.bg_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 450px;
}
.phone_info_div h4 {
  font-weight: 600;
}
.phone_info_div {
  background: white;
  padding: 20px;
}
.greeting {
  color: white;
  font-weight: bold;
  font-size: 18px;
  background: url(../images/msg_bg.png) no-repeat center center;
  background-size: unset;
  z-index: 1;
  padding: 15px 40px 50px;
  z-index: 0;
  height: 180px;
  width: 300px;
}
.logo {
  width: 80px;
  height: auto;
}
.contents,
.main_page .md-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contents,
.container {
  background-color: red;
  padding-top: 20px;
}
.login_side_bg {
  text-align: center;
  margin: 60px auto;
}
.login_side_bg img {
  width: 200px;
  margin: auto;
}

.login_download_str a {
  color: white !important;
  text-decoration: none;
}
.login_download_str {
  text-align: center;
  color: black;
  font-size: 24px;
  font-weight: 900;
  padding: 20px;
  font-family: sans-serif;
}
.col-md-10 {
  text-align: center;
}
.download_connecting div {
  padding: 3px;
  background-color: black;
  margin: 10px;
}
.download_connecting a {
  padding: 2px;
  text-align: center;
  background-color: black;
  text-decoration: none;
}
.download_connecting {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  text-align: center;
  margin: auto;
}
.bottom_bar div {
  margin: 5px;
}
.d-lg-flex {
  flex-direction: row-reverse;
}
.bottom_bar {
  z-index: 10;
  display: flex;
  font-weight: unset;
  background: black;
  justify-content: space-between;
  padding: 11px 30px;
  width: -webkit-fill-available;
  color: white;
  flex-direction: row-reverse;
}
.bottom_bar img {
  margin: 0 15px;
}
.bottom_bar p {
  color: white;
  margin: 2px 15px;
}
.bottom_bar .md-right {
  margin-left: auto;
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.logo_container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: red;
}
.main_page {
  min-height: calc(100vh - 60px);
}
.phone_no_container input {
  background-color: #fff1f1;
  padding: 10px;
  font-size: 16px;
  width: -webkit-fill-available;
  border: none;
}
.btn_global {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 10px;
  margin-left: 15px;
  border: none;
}
.phone_no_container {
  display: flex;
  justify-content: space-between;
}
